
.site_info {
    width: 96%;
    background: lightgrey;
    border: 2px solid grey;
    padding: 2%;
}
.site_info p {
    width: 80%;
    margin-left: 10%;
}


.acount {
    width: 80%;
    margin-left: 10%;
}
.acount form {
    width: 46%;
    display: inline-block;
    text-align: center;
    padding: 30px 0;
    background: rgba(144, 116, 73, 0.7);
    border: 2px solid rgba(144, 116, 73, 1);
    margin: 20px 5px;
}
.acount input {
    padding: 5px;
    font-size: 14px;
    margin: 7px 0;
}