.btn {
    float: right;
    margin-right: 20px;
}
form {
    background: green;
    padding-bottom: 15px;
    border-radius: 10px;
    
}
.new {
    margin-left: -10px;
}
.login {
    margin-left: 10px;
}

#background {
    display: none;
}