* {
    padding: 0;
    margin: 0;
    text-align: center;
}

td {
    border: 2px solid black;
}
.main {
    width: 50%;
}
/**************************
 *
 *      header
 *
 *************************/
.top table {
    width: 100%;
    
}
.top td {
    width: 16%;
}


/**************************
 *
 *      all cards
 *
 *************************/
.life, .abill, .attacks, .skills {
    width: 90%;
    border: 1px solid black;
    margin: 10px 0;
}
.life div, .abill div, .attacks div, .skills div {
    width: 40%;
    display: inline-block;
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
}


/**************************
 *
 *      life
 *
 *************************/
.name {
    width: 100%;
    border: 2px solid black;
    text-align: left;
    padding: 5px;
}
.life p {
    padding: 10px;
}



/**************************
 *
 *      attacks
 *
 *************************/
.attacks table {
    width: 100%;
}
.attacks td {
    padding: 5px;
}


/**************************
 *
 *      abill
 *
 *************************/
.abill p {
    padding: 10px 0;
}
.abill .lower_num {
    padding: 0;
    border: 1px solid black;
    width: 20%;
    margin-left: 40%;
}


/**************************
 *
 *      skills
 *
 *************************/

.skills li {
    list-style: none;
    text-align: left;
    padding: 2px;
    margin-left: 20px;
}
.skills h4 {
    padding: 5px;
}

/**************************
 *
 *      overlay input
 *
 *************************/

.info_box {
    position: fixed;
    top: 30px;
    width: 80%;
    left: 10%;
    padding: 20px 0;
    background: grey;
    z-index: 10;
    display: none;
}
.info_box input, .info_box textarea {
    font-size: 15px;
}
.info_box textarea {
    width: 200px;
    height: 150px;
    padding: 5px;
}
.info_box button {
    padding: 8px;
    margin: 5px;
}
.exit_lightbox {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    padding 3px;
    border: 1px solid black;
}
.info_box td {
    width: 10%;
}
.info_box table {
    width: 80%;
    margin-left: 4%;
}
.infobox input {
    padding: 5px;
}
#lightbox {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(66, 64, 64, 0.7);
    cursor: pointer;
    display: none;
}


#background {
    display: none;
}
